body {
  h2 {
  color: #28587B;
  text-align: center;
}
h5 {
  text-align: center;
}

body{
  background-color: #BFFE99
}

h2:hover{
  letter-spacing: 5px;
}

img {
  width:250px;
}

h5:hover{
  color: green; 
  letter-spacing: 4px;
}


nav {
  list-style-type: none;
  background-color: #FFF59E;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
 }

a{
  color: green;
  text-decoration: none;
}

li{
  display: inline;
  padding: 10px;
  float: right;
}

li:hover {
  background-color: #F2C14E;
}
}
